

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron",Arial, Helvetica, sans-serif;
    font-size: 16px;
 
    
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

.navbar{
    padding: 0rem 0rem 0rem 0.5rem;
    background-color: aliceblue;
    width: 6.8rem;
    height: 100vh;
    position: fixed;
    display: flex;
    transition: 200ms ease;
    z-index: 999;
    border-radius: 0 20px 20px 0;
}

.nav-links{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    font-weight: 400;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    transition: 200ms ease;
    border-radius: 20px;
    padding-right: 1rem;
}

.nav-link .link-text{
    opacity: 0;
    margin-left: 1rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    transition: 200ms ease-out;
    text-align: center;
    display: none;
}

.nav-link i{
    font-size:  2rem;
    margin: 0 1.5rem;
    transition: 200ms ease-out;
}

#home{
    flex-basis: 25%;
}

.nav-item:nth-child(6){
    flex-basis: 25%;
}

.navbar:hover{
    width: 22rem;
}

.navbar:hover .link-text{
    opacity: 1;
    display: flex;
}

.nav-link:hover{
    background-color: rgb(0, 99, 165);
    color: white;
}

.socials{
    display: flex;
    flex-direction: column;
    flex-basis: 32%;
    justify-content: space-between;
}

.socials .nav-link{
    height: 4rem;
    width: 80%;
    transition: all 200ms ease-out;
}

.navbar:hover .socials{
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}